/* AlTeRaNdO pOr NoMe */
.nome{color: whitesmoke; background-color: black;}
/* AlTeRaNdO pOr NoMe */
.hexa{color: #ff3385; background-color: #5ff5b4;}
/* AlTeRaNdO pOr RgBa */
.rgba{color: rgba(155, 55, 255, 0.50); background-color: rgba(255,255,0,0.3);}
/* Alterando a segunda pagina(???????????) */
h1{background-color: rgba(178, 34, 34, 0.299);}
.divbg{background-image: url(image.jpg);height: 225px;width: 225px;}